APP_NAME="pastly"
APP_PORT=8080
APP_ENV="stg"

DB_NAME="postgres"
DB_HOST="localhost"
DB_PORT="5432"
DB_USERNAME="postgres"
DB_PASSWORD="root"
DB_DSN="postgresql://postgres:root@localhost:5432/postgres?sslmode=disable"