APP_NAME="pastly"
APP_PORT=8080
APP_ENV="stg"

DB_MASTER_DSN="postgresql://postgres:root@localhost:5432/postgres?sslmode=disable"
DB_SLAVE_DSN="postgresql://postgres:root@localhost:5432/postgres?sslmode=disable"
DB_ANALYTIC_DSN="postgresql://postgres:root@localhost:5432/postgres?sslmode=disable"

S3_BUCKET_NAME="pastely-bucket"
S3_BUCKET_REGION="us-virginia-1"
S3_BUCKET_ENDPOINT="http://localhost:9000/"
S3_BUCKET_ACCESS_KEY="ppZwtlQOz51ZInKKMBS5"
S3_BUCKET_SECRET_KEY="vjwk9od4U6HQzRcymNo2lNwbFYC0j1KhBzDDyMgb"